dev/** filter=git-crypt diff=git-crypt
prd/** filter=git-crypt diff=git-crypt
qua/* filter=git-crypt-qua diff=git-crypt-qua
non-prod/* filter=git-crypt-non-prod diff=git-crypt-non-prod
dev-dev/* filter=git-crypt-dev-git-crypt diff=git-crypt-dev-git-crypt